* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    color: white;
}

nav {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    width: 100vw;
    height: 10vh;
    top: 0;
    z-index: 1;
}



#products {
    background: transparent;
    border: none;
    font-size: 18px;
    color: grey;
    font-weight: 400;
}

.sec {
    width: 100%;
    margin: auto;
    padding-top: 120px;
    text-align: center;
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center;
}

.nav-items a {
    text-decoration: none;
    color: white;
}

.nav-item {
    cursor: pointer;
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    color: grey;
    transition-duration: 0.1s;
}

.nav-item select option{
    font-weight: 800;
    font-size: 18px;
    background-color: #dedede;
    color: rgb(37, 37, 37);
}

.nav-item select{
    font-weight: 800;
    font-size: 18px;
    width: 125px;
    height: 30px;
    
}

.nav-item:hover {
    transition: 0.5s;
    transform: scale(1.05);
    color: rgb(186, 186, 186);
}




.loader-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: hidden;
}

.loader {
    height: 150px;
}

.virtus {
    width: 100%;
}


/* landing animation/video  */

.landing {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: min-content;
    opacity: 0.4;
    position: relative;
}

.opener{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 35%;
    left: 30%;
    animation: Zoomoutin 2s cubic-bezier(0.96,-0.29, 1, 0.99); 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.opener a{
    text-decoration: none;
    color: white;
    font-size: 80px;
}

.opener h1{
    color: white;
    font-size: 25px;
    text-align: center;
}


/* animation for opener  */

@keyframes Zoomoutin {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.splitdiv {
    margin-top: 0;
    display: flex;
    overflow: hidden;
    color: black;
    height: 50vh;
    z-index: 0;
}

.left {
    position: relative;
    overflow: hidden;
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.left img {
    width: 600px;
    height: auto;
    display: block;
    background-color: white;
    animation: hover 2s infinite ease;
}

@keyframes hover {
    0% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-15px);
    }
}

.right {
    width: 40%;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
    padding-right: 30px;
}

.slanteddivider {
    position: relative;
    width: 10%;
    background: linear-gradient(to bottom right, white 49.5%, #ffffff00 50%);
    z-index: 0;
}

.content {
    width: 100%;
    position: relative;
    padding: 20px;
    background-color: black;
    z-index: 0;
    justify-content: center;
    font-size: 12px;
}

.scroller {
    width: 100%;
    height: 50vh;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.scrolleritem {
    display: inline-block;
    margin-right: 10px;
}

 ::-webkit-scrollbar {
    display: none;
}

.benefits {
    height: 50vh;
}



.benefitmain{
    position: relative;
    
}


/* slider  */
* {
    box-sizing: border-box
}

.slideshow-container {
    width: 100%;
    position: relative;
    height: 50vh;
    background: url("background\ for\ text.png") no-repeat;
    background-size: cover;
}

.mySlides {
    display: none;
    color: white;
}

.mySlides h1{
    bottom: 50%;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 35%;
    width: 100%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1
    }
}
.benefitmain {
    background-image: url("background\ for\ text\ 3.png") ;
    align-content: center;
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 70vh;
    flex-direction: column;
    background-size: cover;
}

.benefitinside {
    color: white;
    margin: 50px;
    font-size: 15 px;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 5px;
    border-color: white;
    height: 250px;
    padding: 20px;
    text-align: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.benefit{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
footer{
    color: white;
    padding: 50px 100px;
    text-align: center;
    background-color: #202020;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
}

.social-icons a{
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.social-icons{
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.companyinfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 30%;
    font-size: 18px;
}
.companyinfo img{
    width: 175px;
}

.nav-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: max-content;
}

.nav-links ul li{
    list-style-type:disc;
    font-size: 20px;
}

.nav-links ul li a{ 
    text-decoration: none;
    color: white;

}

.address{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-basis: 30%;
}

.address p{
    font-size: 18px;
    text-align: justify;
}
.address p a{
    text-decoration: none;
    color: white;
}



.map{
    opacity: 0.8;
}
.product {
    background-color: black;
    display: flex;
    flex-direction: row;
    border: solid white 10px;
    justify-content: space-between;
}

.productinside {
    width: 700px;
    height: 400px;

}

.textproduct {
    height: 400px;
    width: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    text-align: left;
    margin-right: 15px;
}

.textproduct a{
 
    text-decoration: none;
}
.textproduct a button{
    height: 35px;
    width: 125px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: solid 2px white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 0.3s;
}

.textproduct a button:hover{
    background-color: white;
    color: black;
    
}

.imageinside {
    transform: rotate(180deg);
}

.copyright{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
    padding: 20px;
    background-color: #000;
}
.productoutside{
    display: flex;
    flex-direction: row;
    border: solid 5px;  
}
.productinner{
    width: 800px;
    height: 350px;
}
.productcontent{
    text-align: center;
    margin-top: 250px;
    justify-content: center;
    align-items: center;
}

/* contact  */
.contact{
    display: flex;
    margin-top: 70px;
    height: 80vh;
    align-items: center;
}
.contact h1{
    font-size: 54px;
}
.contact1{
    flex-basis: 50%;
    padding: 50px;
    flex-direction: column;
    gap: 25px;
    display: flex;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.514);
}
.card p a{
    color: white;
    text-decoration: none;
}

.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.contactform{
    flex-basis: 100%;
    padding: 100px;
    width: 100%;
    flex-direction: column;
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactform form{
    display: flex;
    flex-direction: column;
}
.contactform form table{
    width: 75%;
}
.contactform form table td{
    padding: 10px 20px;
    margin: 0 25px;
}

.contactform form table input{
    width: 50vw;
    padding: 5px 10px;
    background: transparent;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.459);
    color: white;
    font-size: 24px;
    transition: all 0.5s ease-in-out;
}

.contactform form table input:focus{
    outline: none;
    border-bottom: 2px solid white;
}

.contactform form input[type="submit"]{
    width: 200px;
    padding: 10px 20px;
    margin: 20px;
    align-self: flex-end;
    font-size: 20px;
    color: white;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.522);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.contactform form input[type="submit"]:hover{
    background: white;
    color: black;
}

/* thankyou  */
.thankyou{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    animation: fadein 5s;
}

@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* warranty  */
.warrantyform{
    display: flex;
    height: 160vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    z-index: -1;
}

.warrantyform form{
    width: 80vw;
}
.warrantyform form table{
    width: 100%;
}
.warrantyform form table td{
    padding: 10px 20px;
    margin: 0 25px;
}

.warrantyform form table input[type = "text"]{
    width: 100%;
    padding: 5px 10px;
    background: transparent;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.459);
    color: white;
    font-size: 16px;
    transition: all 0.5s ease-in-out;
    outline: none;
}

.warrantyform form table input[type = "text"]:focus{
    outline: none;
    border-bottom: 2px solid white;
}

.warrantyform form input[type="date"]{
    width: 25%;
    padding: 5px 10px;
    background: transparent;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.459);
    color: rgba(255, 255, 255, 0.536);
    font-size: 16px;
    transition: all 0.5s ease-in-out;
}
.warrantyform form input[type="date"]:hover{
    outline: none;
    background-color: white;
    color: #000;
    border-radius: 15px;
}

.warrantyform form input[type="radio"]{
    margin: 10px 10px 0px 0;
    color: white;
    font-size: 16px;
    transition: all 0.5s ease-in-out;

}

.warrantyform form button[type="submit"]{
    padding: 10px 20px;
    margin: 20px 0;
    align-self: flex-end;
    font-size: 20px;
    color: white;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.522);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.warrantyform form button[type="submit"]:hover{
    background: white;
    color: black;
}

.warrantyform form input[type="file"]{
    margin: 10px 10px 0px 0;
    color: white;
    font-size: 16px;
    transition: all 0.5s ease-in-out;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.522);
}




/* blog  */
.par{
  margin: auto;
  
  
}
.blog{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 20px;
    padding: auto;
    justify-content: center;
    
    width: 80%;
    height: 300px;
    border: 5px solid white;
    border-radius: 10px;

    

}

.post1{
    padding: 10px;
    overflow: auto;
    margin-top: 13px;
}

.img-blog1{
    float: left;
    margin-right: 10px;
   
}






